html,body {
    height: 100%;
}
ul.thumb{
    position: relative;
}
ul.thumb li{
   display: inline-block;
   list-style-type: none;
   animation-name: glow;
   animation-duration: 4s;
   animation-iteration-count: 1;
}
/*Pause animation*/
ul.thumb li:hover{
   animation-play-state: paused;
   
}

thumb ul{
    padding: 0;
    margin: 0;
}
.bg-black{
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 15px 10px #000;
    //min-height: 300px;
    height: auto;
}

.bg-padded{
    padding: 10px;
}

.footer{
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 15px 10px #000;
    padding: 10px;
}
#Header-mobile{
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 15px 5px #000;
    padding: 10px;
}
#Header-mobile ul li{
    list-style-type: none;
    padding: 0;
    margin-left: 5px; 
}
#Header-mobile ul{
    padding-left: 0;
    padding-top: 10px;
    
}

.gallery-label{
    text-align: center;
    background: #f00;
    color: #fff;
    box-shadow: 0px 0px 10px 2px #fff;
}

.image-container:hover{
    box-shadow: 0px 0px 15px 10px #fff;
}

#img-modal{

    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    height: 100%;
    display: none;
    color: #fff;
    left: 0;
   overflow-y: scroll;
}
#img-modal img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  
}
#img-modal input{
    color: #000;
}

.img-content{
    margin: auto;
    width: 80%;
    
}
.img-image{
    margin: auto;
    width: 100%;
    height: 100%;
    
}
.img-header{
    width: 100%;
    padding: 8px;
    text-align: center;
}

.img-tag{
    width: 100%;
    text-align: center;
}
.img-footer {
    width: 100%;
    padding: 8px;
    text-align: center;
}
.img-close{
    position: absolute;
    right: 15px;
}
.img-close a{
    font-size: larger;
    color: #fff;
    text-decoration: none;
}

.img-close a:hover{
   color: #f00;
   text-decoration: none;
}

@keyframes glow{
    0% {box-shadow: 0px 0px 10px 5px #fff; }
    25% {box-shadow: 0px 0px 10px 5px #ff6a00; transform: rotate(20deg)}
    50% {box-shadow: 0px 0px 10px 5px #ffd800; }
    75% {box-shadow: 0px 0px 10px 5px #ff6a00; transform: rotate(-20deg)}
    100% {box-shadow: 0px 0px 10px 5px #fff; }
}